<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/setlist/setlist.css">
    <link rel="stylesheet" href="/setlist/index.css">
    <title>index</title>
</head>

<body>
    <h1>setlist</h1>

    <a href="/setlist/new"><button id="create">add new song</button></a>

    <table>
        <tbody>
        <% for (i=0; i < songs.length; i++) {%>
            <tr>
                <td>
                    <a href="/setlist/<%=songs[i]._id%>">
                        <%=songs[i].title%>
                    </a>
                    <form action="/setlist/<%=songs[i]._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="delete">
                </td>
            </tr>
            </form>
            <%}%>
        </tbody>
    </table>
    <p>Total Duration: <%=totalDuration%> minutes</p>
    <p>Total Cost: $<%=Math.round(100*cost) / 100%></p>
</body>

</html>